html {
  height: auto;
}

body {
  background-color: #CBDEE0;
}

button:focus {outline: 0}

#how-to-play button,
#pause-panel-buttons button {
  margin: 20px;
  background-color: #E59717;
  color: #FAE8DC;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#how-to-play button {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#how-to-play button:hover,
#pause-panel-buttons button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#how-to-play .highlight {
  font-weight: bold;
  color: #E59717;
  padding: 2px;
}

#how-to-play ul {
  list-style: none;
  padding: 0;
}

.key-text,
#win-screen .key,
#how-to-play .key {
  background-color: #333333;
  color: white;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  margin-right: 3px;
  margin-left: 3px;
}
